[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
autobahn = "*"
"pg8000" = "*"
Twisted = "*"
Flask = "*"
Flask-Cors = "*"
Flask-RESTful = "*"
GitHub-Flask = "*"
ipython = "*"

[requires]
python_version = "3.6"
